---
type Props = {
	class?: string;
	style: 'primary' | 'secondary' | 'tertiary';
	size: 'small' | 'medium' | 'large';
} & (ButtonProps | AnchorProps);

type ButtonProps = {
	type: 'submit' | 'reset' | 'button' | null | undefined;
};

type AnchorProps = {
	type: 'link';
	href: string | null;
};

var properties = Astro.props;

properties.style == 'primary'
	? (properties.class =
			'bg-blue text-white hover:brightness-110 ' + properties.class)
	: properties.style == 'secondary'
	? (properties.class = 'bg-gray1 text-black' + properties.class)
	: 0;

properties.size == 'small'
	? (properties.class = 'px-0 py-0' + properties.class)
	: properties.size == 'medium'
	? (properties.class = 'px-2 py-1 rounded-md ' + properties.class)
	: properties.size == 'large'
	? (properties.class = 'px-4 py-2 rounded-md ' + properties.class)
	: 0;
---

{
	properties.type == 'link' ? (
		properties.style == 'tertiary' ? (
			<a class:list={[properties.class]} href={properties.href}>
				<slot>Button</slot>⯈
			</a>
		) : (
			<a
				class:list={[properties.class, 'font-bold']}
				href={properties.href}
			>
				<slot>Button</slot>
			</a>
		)
	) : (
		<button class:list={[properties.class]} type={properties.type}>
			<slot>Button</slot>
		</button>
	)
}
