---
type Props = TitleProps | BodyProps;

type TitleProps = {
	type: 'title-xl' | 'title-lg' | 'title-md' | 'title-sm';
};

type BodyProps = {
	type: 'body';
	weight: 'light' | 'normal' | 'bold';
};

const properties = Astro.props;
---

{
	properties.type == 'title-xl' ? (
		<h1 class="text-title-xl">
			<slot>Title XLarge</slot>
		</h1>
	) : properties.type == 'title-lg' ? (
		<h2 class="text-title-lg">
			<slot>Title Large</slot>
		</h2>
	) : properties.type == 'title-md' ? (
		<h3 class="text-title-md">
			<slot>Title Medium</slot>
		</h3>
	) : properties.type == 'title-sm' ? (
		<h4 class="text-title-sm">
			<slot>Title Small</slot>
		</h4>
	) : properties.type == 'body' ? (
		properties.weight == 'light' ? (
			<p class="text-body font-light">
				<slot>Body Light</slot>
			</p>
		) : properties.weight == 'normal' ? (
			<p class="text-body">
				<slot>Body Normal</slot>
			</p>
		) : properties.weight == 'bold' ? (
			<p class="text-body font-bold">
				<slot>Body Bold</slot>
			</p>
		) : null
	) : null
}
