---
import { Image } from 'astro:assets';

import Text from '../public/Text.astro'
import Button from '../public/Button.astro'
import Link from '../public/Link.astro'

import { team } from './team.ts'

interface Props {
	filter?: string[]
	limit?: number
}

const properties = Astro.props

/*
properties.filter
	? (team = team.filter(
			(member) => properties.filter != undefined && properties.filter.includes(member.name)
	  ))
	: null
*/

const images = await Promise.all(team.map(async (member) =>
    await import(`../../assets/user.png`)
));
---

<div
	class="grid w-full grid-cols-4 items-center justify-center py-8 sm:gap-4"
	transition:name="team"
>
	{
		team.map((member, index) => (
			<div
				id="teamMember"
				class={
					'flex flex-col items-center justify-center gap-4 bg-gray6 pb-4 sm:rounded-lg ' +
					(properties.limit
						? properties.limit != undefined && index >= properties.limit
							? 'hidden'
							: null
						: null)
				}
			>
				<Image class="rounded-t-lg object-cover" src={images[index].default} alt={"Team Member"} />

				<Text type={'body'} weight={'bold'}>
					{member.name}
				</Text>
				<Text type={'body'} weight={'normal'}>
					{member.role}
				</Text>
			</div>
		))
	}
</div>

{
	properties.limit ? (
		<div id="team" class="mx-auto flex w-full flex-row items-center justify-center">
			<Link href="/about-us#team">
				<Button style="primary">Meet the full team</Button>
			</Link>
		</div>
	) : null
}
