<div class="mx-auto w-full flex-col items-center justify-center pt-16">
	<div
		class="mx-auto flex h-[600px] w-full flex-col items-center justify-center gap-8 bg-[url('../images/review.jpg')] bg-cover bg-center py-16 text-center text-white"
	>
		<p class="px-4 text-title-sm font-bold leading-[40px]">
			“I was really nervous but they were so efficient and kind that there
			wasn't anything to be worried about. It was quick, painless and they
			explained everything really well. Brilliant!”
		</p>
		<img class="h-[24px]" src="./images/stars.png" />
	</div>
</div>
