---
import Text from '../components/public/Text.astro';
import Section from '../components/public/Section.astro';
import Page from '../components/public/Page.astro';
import Header from '../components/public/layout/Header.astro';
---

<Page title="" description="" keywords="">
	<Header name="main" />

	<div class="text-center">
		<Section size="lg">
			<Fragment slot="body">
				<div class="text-left">
					If you are a dental graduate from any European country, we
					at EEA Dental Graduates are able to assist you in finding a
					job to work as a dental surgeon in England.
				</div>
			</Fragment>
		</Section>

		<Section size="lg" class="bg-gray6">
			<Fragment slot="body">
				<div class="text-left">
					<Text type="body" weight="bold">Introduction</Text>

					We at EEA Dental Graduates have over twelve years of
					experience finding excellent jobs for many EEA Graduates
					from European countries such as Spain, Bulgaria, Prague,
					Romania, Portugal, Sweden. We at EEA Dental Graduates have a
					team of friendly experienced Dentists who are mentors and
					EEA Workplace Supervisors and our Dental Practice Training
					Centers have been approved by both NHS England and Health
					Education England.
				</div>
			</Fragment>
		</Section>

		<Section size="lg" class="bg-white">
			<Fragment slot="title">First Steps</Fragment>
			<Fragment slot="body">
				<br />
				<div class="text-left">
					<Text type="body" weight="bold">I have my GDC Number</Text>
					Assuming that you are registered with the GDC, everything is
					easy and simple, and we can help you to begin seeing and treating
					patients with the support of an experienced clinical team within
					weeks. To get the ball rolling and begin seeing patients at the
					earliest opportunity, please see below to submit your information
					to EEA Dental Graduates
				</div>

				<br />

				<div class="text-left">
					<Text type="body" weight="bold">
						I don't have my GDC Number
					</Text>
					At EEA Dental Graduates , we have been assisting European Dentists
					to gain GDC Registration and so we can help you every step of
					the way to getting your GDC Number. If you need help, <a
						class="text-blue underline"
						href="mailto:recruitment@eeadentalgraduates.co.uk"
					>
						click here
					</a>
					to email us.
				</div>
			</Fragment>
		</Section>
	</div>
</Page>
