---
import Head from '../../../components/Head.astro';
import Header from '../components/Header.astro';
---

<html>
	<Head title="NHPL" description="" keyword="" />

	<body>
		<Header selected="Gallery" />
	</body>
</html>
