---
import Practices from '../components/Practices.astro';
import Review from '../components/Review.astro';
import Button from '../components/Button.astro';
import Icon from '../components/Icon.astro';
import Link from '../components/Link.astro';
import Page from '../components/Page.astro';
import Section from '../components/Section.astro';
import Text from '../components/Text.astro';
import Hero from '../components/layout/Hero.astro';
import Header from '../components/layout/Header.astro';
---

<Page
	title="Nationwide Healthcare Providers Limited"
	description="Welcome to Nationwide Healthcare Providers Limited (NHPL). We are a group of 16 dental practices located throughout Nottinghamshire, Derbyshire, Leicestershire, Sheffield, South Yorkshire, Wakefield and Barnsley. Learn more about us here!"
	keywords="home, nhpl, nationwide healthcare, nationwide healthcare providers limited, dentist, dental"
>
	<Header name="main" />

	<div class="w-full bg-red">
		<div class="mx-auto max-w-screen-lg px-2 py-4">
			<Text class="text-center text-white">
				Are you a dentist looking for an excellent position, whether you
				are newly qualified, a UK graduate, a graduate from an European
				University, or from outside of Europe, and you want to work with
				a friendly team in a fully supportive environment, using the
				best materials and the most modern equipment? Please <Link
					class="text-white underline font-bold"
					href="dentist"
				>
					click here
				</Link> to learn more
			</Text>
		</div>
	</div>

	<Hero class="bg-blue text-white">
		<Fragment slot="title">
			Nationwide Healthcare <div>Providers Limited</div>
		</Fragment>
		<Fragment slot="body">
			<Text>
				Excellent Dental Care - Education - Training - Development
			</Text>
		</Fragment>

		<Fragment slot="buttons">
			<div
				class="flex flex-col md:flex-row gap-4 items-center justify-center"
			>
				<Link href="tel:01159790909">
					<Button style="secondary" class="flex flex-row gap-1">
						<Icon type="phone" />0115 979 0909
					</Button>
				</Link>

				<Link href="mailto:info@nhpl.co.uk">
					<Button style="secondary" class="flex flex-row gap-1">
						<Icon type="envelope" /> info@nhpl.co.uk
					</Button>
				</Link>
			</div>
		</Fragment>
	</Hero>

	<Section class="bg-gray6" size="lg">
		<Review slot="body" />
	</Section>

	<div class="text-center">
		<Section size="lg">
			<Fragment slot="title">About Us</Fragment>
			<Fragment slot="body">
				<div class="text-left">
					<Text>
						Nationwide Healthcare Providers Limited, (NHPL), owns a
						group of 16 dental practices located throughout
						Nottinghamshire, Derbyshire, Leicestershire, Sheffield,
						South Yorkshire, Wakefield and Barnsley. NHPL is in the
						process of expanding this group of practices, especially
						throughout Nottinghamshire by adding dental practices in
						Sutton In Ashfield, Netherfield, Rise Park and Hucknall
						to our small family of practices. Please see below for
						addresses and contact details of each practice.
					</Text>
				</div>
			</Fragment>
		</Section>

		<Section size="lg" class="bg-gray6">
			<Fragment slot="title">Our Way</Fragment>
			<Fragment slot="body">
				<div class="text-left">
					<Text>
						We are caring, progressive, enjoy our work and use a
						positive spirit to get things done. We take pride in our
						work and actively seek new ways of doing things better.
						We value integrity, credibility and respect for the
						individual. We build constructive relationships to
						acheive positive outcomes for all. We believe that
						success comes through recognising the value of people
						and encouraging that value through professional and
						personal development.
					</Text>
				</div>
			</Fragment>
		</Section>

		<Section size="lg">
			<Fragment slot="title">Our Vision</Fragment>
			<Fragment slot="body">
				<div class="text-left">
					<Text>
						Nationwide Healthcare Providers Limited is committed to
						being a leading provider of dental healthcare services
						throughout Nottinghamshire and the East Midlands, by
						delivering high quality outcomes for patients and
						ensuring long term sustainability.
					</Text>
				</div>
			</Fragment>
		</Section>

		<Section size="lg" class="bg-gray6">
			<Fragment slot="body">
				<div class="text-left">
					<Text type="title-sm" weight="bold">
						✅ New Private Patients
					</Text>

					<Text>
						If you are a new patient, and wish to be seen privately,
						several dental surgeons are able to offer appointments
						sooner, and these may even be available at short notice
						and even on the same day. This availability cannot be
						gauranteed, however, it is a possibility that this can
						be arranged swiftly. The fee for being seen by a dental
						surgeon on a private basis in an emergency is normally
						£50, this is payable at the time of booking the
						appointment, and this fee includes the cost of seeing
						the dentist and all necessary X-rays and does not
						include the cost of any actual treatment need
						identified.
					</Text>

					<br /><br />
					<Text type="title-sm" weight="bold">
						✅ New NHS Patients
					</Text>

					<Text>
						If you are a patient seeking to make an appointment as
						an NHS patient at any of our 20 practices, please call
						the telephone number of the practice that you wish to be
						seen at, and an appointment will be arranged if
						possible. It is important to note that due to high
						demand, an appointment may only be available after a
						considerable time on a waiting list. Alternatively, some
						patients may take the option of being seen initially on
						a Private basis, with the intention of becoming an NHS
						patient at a later date, when the waiting list is
						shorter and more easy to manage.
					</Text>

					<br />
					<br />

					<Text type="title-sm" weight="bold">
						✅ Our regular attending NHS patients wishing to make an
						appointment
					</Text>

					<Text>
						Please simply call your practice on the practice
						telephone number and an appointment will be arranged for
						you in the normal way, and this appointment availability
						will just depend on our clinical capacity for you to be
						seen. Usually the time to make an appointment varies
						from a few days to a few weeks for our regular patients.
					</Text>

					<br />
					<br />

					<Text type="title-sm" weight="bold">
						✅ Our regular attending NHS patients (in pain)
					</Text>

					<Text>
						If you are a patient in pain or discomfort, and you are
						a regular attender at your dental practice, then
						normally an NHS appointment can be arranged for you, on
						the understanding that this is an emergency appointment,
						where you will be treated on a "sit and wait basis".
						When a patient is seen on this basis, this can mean that
						there is a possibility of an increased waiting time from
						arrival at the practice to being seen by a dentist.
						Naturally, our teams will do their best for you to be
						seen as quickly as possible, and this is often within 30
						minutes, however this can be up to 3 hours at busier
						times, so it is important for you to be able to manage
						your expectations when attending on a sit and wait
						basis.
					</Text>
					<br />
					<br />
				</div>
			</Fragment>
		</Section>
	</div>

	<Section size="lg">
		<Fragment slot="title">Our Mission</Fragment>
		<Fragment slot="caption">
			The philosophy behind what we do at NHPL
		</Fragment>

		<Fragment slot="body">
			Our aim is to provide first class NHS and Private services to
			patients throughout England and to create an excellent environment
			in which our dental surgeons and clinical teams continuously thrive
			and develop.
		</Fragment>
	</Section>

	<Section size="lg" class="bg-gray6" id="practices">
		<Fragment slot="title">Our Practices</Fragment>
		<Practices slot="body" />
	</Section>
</Page>
