---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Text from '../components/Basic/Text.astro';
import Hero from '../components/Hero.astro';
// import Banner from '../components/Banner.astro';
---

<html lang="en">
	<Head title="Home" description="" keywords="" />

	<body>
		<Header />

		<Hero button1="contact.html" button2="about.html" image={''}>
			<Fragment slot="title">Welcome to Seven Dental</Fragment>
			<Fragment slot="body">
				Setting the Gold Standard in Dental Care
			</Fragment>
			<Fragment slot="button1">Book Now</Fragment>
			<Fragment slot="button2">Learn more</Fragment>
		</Hero>

		<Text type="title-xl" />
		<Text type="title-lg" />
		<Text type="title-md" />
		<Text type="title-sm" />
		<Text type="body" weight="light" />
		<Text type="body" weight="normal" />
		<Text type="body" weight="bold" />
	</body>
</html>
