---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Text from '../components/Basic/Text.astro';
import Hero from '../components/Hero.astro';
// import Banner from '../components/Banner.astro';
---

<html lang="en">
	<Head title="Home" description="" keywords="" />

	<body>
		<Header />

		<Hero
			title={'Welcome to Seven Dental'}
			body={'Setting the Gold Standard in Dental Care'}
			button1={{
				name: 'Book Now',
				href: 'contact.html',
			}}
			button2={{
				name: 'Learn more',
				href: 'about.html',
			}}
			image={''}
		/>

		<Text type="title-xl" />
		<Text type="title-lg" />
		<Text type="title-md" />
		<Text type="title-sm" />
		<Text type="body" weight="light" />
		<Text type="body" weight="normal" />
		<Text type="body" weight="bold" />
	</body>
</html>
