---
type Props = {
    color: string;
} & (ButtonProps | AnchorProps);

type ButtonProps = {
    isLink: false;
    type: string;
};

type AnchorProps = {
    isLink: false;
    href: string;
};

const properties = Astro.props;
---

{
    properties.isLink == false ? (
        <button class:list={[properties.color]}>
            <slot />
        </button>
    ) : (
        <a class:list={[properties.color]}>
            <slot />
        </a>
    )
}
