---
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const properties = Astro.props;
---

<head>
	<title>Seven Dental - {properties.title}</title>

	<!-- <base href="" target="_self" /> -->

	<link rel="icon" type="image/ico" href="/images/logo/logo.ico" />

	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet"
	/>

	<meta charset="utf-8" />
	<meta name="author" content="Nationwide Healthcare Providers Limited" />
	<meta name="description" content={properties.description} />
	<meta name="keywords" content={properties.keywords} />
	<meta name="viewport" content="width=device-width" />
	<meta name="robots" content="index, follow, noarchive" />

	<!--
	<meta name="theme-color" content="" />
	<meta name="color-scheme" content="" />
	-->
</head>
