---
import Button from './Basic/Button.astro';
import Text from './Basic/Text.astro';

type Props = {
	button1: string;
	button2: string;
	image?: string;
};

const properties = Astro.props;
---

<div class="flex w-full flex-col items-center justify-center gap-4 px-4 pt-16">
	<Text type="title-xl"><slot name="title" /></Text>
	<Text type="body" weight="normal">
		<slot name="body" />
	</Text>

	<div class="flex flex-row gap-2 py-4">
		<Button
			type={'link'}
			href={properties.button1}
			style={'primary'}
			size={'large'}
		>
			<slot name="button1" />
		</Button>

		<Button
			type={'link'}
			href={properties.button2}
			style={'tertiary'}
			size={'large'}
		>
			<slot name="button1" />
		</Button>
	</div>

	{
		properties.image ? (
			<img src={properties.image} class="mt-8 max-w-full rounded-t-xl" />
		) : (
			<img
				src="/images/placeholder.jpg"
				class="mt-8 max-w-full rounded-t-xl"
			/>
		)
	}
</div>
