---
import type { HTMLAttributes } from 'astro/types'

import type { Props as IconProps } from './Icon.astro'

import Icon from './Icon.astro'

interface Props extends HTMLAttributes<'a'> {
	href: string | URL | undefined | null
	icon?: IconProps['type']
}

const properties = Astro.props
---

{
	(
		<a class={properties.class} {...properties}>
			<slot />
		</a>
	)
}
