---
import Page from '../../../components/Page.astro';
import Header from '../../../components/layout/Header.astro';
import Section from '../../../components/Section.astro';
import Text from '../../../components/Text.astro';

import { practices } from '../../../components/practices.ts';

const practice = practices.find((p) => p.href === Astro.params.practice);

export async function getStaticPaths() {
	return practices.map((practice) => {
		return { params: { practice: practice.href } };
	});
}

import { treatments } from '../../../components/treatments.ts';
import TreatmentsTitle from '../../../components/TreatmentsTitle.astro';

const treatment = treatments.find((treatment) => {
	return treatment.name === 'Dentures';
});
---

<Page
	title="Dentures"
	description={`Learn more about the Denture Treatment we offer here at ${practice.name}`}
	keywords="denture"
>
	<Header name="practice" base={`/${practice?.href}`} />

	<TreatmentsTitle treatment={treatment.name} />
	<Section size="lg" class="bg-gray6">
		<Fragment slot="title">What are Dentures?</Fragment>
		<Fragment slot="body">
			<Text>
				Dentures are removable false teeth that fit over the gums to
				replace missing teeth and eliminate potential problems caused by
				gaps.
			</Text>
			<Text>There are two types of Dentures:</Text>
			<Text>
				<ul class="flex list-disc flex-col gap-4 pl-4">
					<li>
						Complete Dentures replace all your upper and lower teeth
					</li>
					<li>Partial Dentures replace specific missing teeth</li>
				</ul>
			</Text>
		</Fragment>
	</Section>

	<Section size="lg">
		<Fragment slot="title">What to expect</Fragment>
		<Fragment slot="body">
			<Text>
				Your dentist will take measurements and create a mould of your
				mouth
			</Text>
			<Text>
				Soon after that, you will recieve your dentures based off of
				those measurments and moulds
			</Text>
		</Fragment>
	</Section>

	<Section size="lg" class="bg-gray6">
		<Fragment slot="title">Adjustments to your dentures</Fragment>
		<Fragment slot="body">
			<Text>You should see your dentist if:</Text>
			<Text>
				<ul class="flex list-disc flex-col gap-4 pl-4">
					<li>Your dentures are causing discomfort</li>
					<li>Your dentures don't fit well or they tend to slip</li>
					<li>Your dentures click when talking</li>
					<li>Your dentures are visually worn</li>
					<li>
						You are experiencing oral complications such as gum
						disease
					</li>
				</ul>
			</Text>
		</Fragment>
	</Section>
</Page>
